* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
   
}

.main {
    width: 100%;
    background-color: rgb(4, 52, 92);
  
    height: 120vh;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #000000;
    height: 70px;
    width: 65%;
    border-radius: 20px;
   margin: auto;
   position: relative;
   top: 30px;
       
}


.navbar ul {
    list-style: none;



}

.active1 {
    background-color: #86156e;
    color: white;
}

.navbar ul li {
    display: inline-block;
    width: 100px;
    height: 35px;
    text-align: center;
    border-radius: 10px;
    margin: 0px 20px 0px 20px;
}

.navbar ul li a {
    display: list-item;
    color: rgb(255, 255, 255);
    font-size: 24px;
    text-decoration: none;
    padding-top: 3px;
    font-family: 'Lato', sans-serif;



}

.navbar ul li:hover {
    background-color: #86156e;

}

.header {
    margin: 50px auto;
    text-align: center;
    color: white;

}

.header h3,
h1,
h4 {
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
    padding: 20px;
}

.slider1 {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
    margin: auto;
}

.slider1 img {
    width: 300px;
    height: 300px;
    border-radius: 50px;
   
   opacity: 0.5;
}

.mainslider {
    width: 100%;
    height: 140vh;
    background-color: rgb(18, 91, 151);
    



}

.midsection {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 65vh;
    position: relative;
    margin:  auto;
    top: 30px;

}
#lang {
    color: rgb(248, 233, 28);
}
.doublebox {
    color: white;
    width: 500px;
    border-radius: 20px;
    height: 350px;
    background-color: rgba(224, 224, 224, 0.507);
}

.dbtn {
    width: 150px;
    padding: 10px;
    border-radius: 50px;
    border: 2px solid rgb(255, 255, 255);
    background-color: purple;
    color: white;
    position: relative;
    top: -20px;
    left: 170px;
    font-family: 'Roboto Slab', serif;

    letter-spacing: 1px;
}

#dbtn {
    top: 15px;
}

.dbtn:hover {
    background-color: #ca2ea8;
}

.ditem {
    width: 500px;
    height: 220px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid rgb(71, 37, 37);

    margin-top: -25px;


}

.dimage {
    height: 180px;
    width: 200px;
    margin-top: -10px;
    margin-left: 50px;

}

#dlogo {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    position: relative;

    left: 54px;
}

#dimg {
    width: 170px;
    height: 130px;
    border-radius: 30px;
    margin-top: -35px;

}

.dimage p {
    text-align: center;
    padding-right: 20px;
    color: red;
}

.dlist {
    display: flex;
    width: 450px;
    height: 55px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 20px;

}

.dn {
    font-size: 20px;
    display: block;
    color: rgb(123, 31, 199);
}

.dlist p {
    font-size: 15px;

    padding: 7px;
    color: black;
}

.doublebox1 {
    color: white;
    width: 250px;
    border-radius: 20px;
    height: 300px;
    background-color: rgba(185, 182, 176, 0.534);
}


#dbtn1 {
    top: 10px;
    left: 60px;
}

.ditem1 {
    width: 200px;
    height: 150px;
    display: flex;
    justify-content: around;
    align-items: center;
}

.dimage1 {
    height: 125px;
    width: 170px;
    margin-left: 40px;
}

#dlogo1 {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    position: relative;
    left: 54px;
}

#dimg1 {
    width: 170px;
    height: 130px;
    border-radius: 30px;


}

.dimage1 p {
    text-align: center;
    color: red;
}

.dlist1 {
    display: inline-flex;
    width: 250px;
    height: 50px;
    justify-content: center;
    align-items: center;
    margin-top: 70px;


}

.dlist1 p {
    font-size: 15px;
    width: 250px;
    display: inline-block;

    color: black;
    margin-left: 20px;
}

.bar {
    width: 100px;
    background-color: white;
    height: 2px;
    position: relative;
    top: 30px;
    margin: auto;

}

.last h1 {
    color: white;
    text-align: center;
    padding-top: 50px;
}

.last {

    width: 100%;
    height: 80vh;
    background-image: linear-gradient(rgb(197, 121, 134), rgba(4, 81, 153, 0.897));
}

.lastslider {
    display: flex;
    align-items: center;
    width: 70%;
    height: 50vh;
    justify-content: space-around;
    margin: auto;
    margin-top: 100px;
}

.bigbox {
    width: 70%;
    height: 50vh;
}

.box1 {
    width: 200px;
    height: 65px;


}

.box1 img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    display: inline-block;
    border: 3px solid rgb(81, 170, 206);
}

.box1 p {
    display: inline-block;
    position: relative;
    top: -15px;
    left: 5px;
    font-size: 15px;
}

.box1 h2 {

    display: inline-block;
    padding: 3px;
    position: relative;
    top: -20px;
    font-size: 18px;
}

.high {
    color: white;
}

footer {
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: center;
    align-items: center;
    background-color: rgb(168, 50, 99);
    color: white;
    font-size: 15px;
}

